ci_test/ci_test-backups
ci_test/ci_test.kicad_prl
ci_test/kicad_pcb_mesh.m
ci_test/kicad_pcb_model.m
ci_test/fp-info-cache
ci_test/out
ci_test/tmp

saved_results

example_gerbers/*/*
!example_gerbers/*/*.kicad_pcb
!example_gerbers/*/*.kicad_pcb
!example_gerbers/*/*.kicad_pro
!example_gerbers/*/simulation.json
!example_gerbers/*/PCB_preparation

.vscode/
.mypy_cache/
__pycache__/
script/ems-kicad.sh