examples/*/*
!examples/*/*.kicad_pcb
!examples/*/*.kicad_pcb
!examples/*/*.kicad_pro
!examples/*/*.kicad_sch
!examples/*/simulation.json

.vscode/
.mypy_cache/
__pycache__/
ems-kicad.sh
.venv
*.egg-info/
build/